{% extends "oscar/layout.html" %}


{% block content_wrapper %}
<head>
    <link rel="stylesheet" href="/static/css/table.css" type="text/css">

</head>
<div class="{% block content_wrapper_classes %}container page{% endblock %}" style="font-family: monospace">
    <div class="page_inner" style="font-family: monospace">
        {% block breadcrumbs %}{% endblock %}
        <div class="column" style="font-family: monospace">
            {% block header %}
                <div class="page-header" style="font-family: monospace">
                    <h1>{% block headertext %}{% endblock %}</h1>
                </div>
                {% endblock %}
            <div class="row">
            <aside class="sidebar col-sm-4 col-md-3">
                {% block column_left %}{% endblock %}
                {% block column_left_extra %}{% endblock %}
            </aside>
                <div class="row" style="flex-direction:row-reverse">
                <div>
                        {% include "oscar/partials/alert_messages.html" %}
                </div>
                {% block pre_content %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
                </div>

        </div><!-- /row -->
        {% if '/catalogue/category/' in request.path %}
        <div class="row">
            <aside class="sidebar col-sm-4 col-md-3">

                   <!-- Navbar -->

              <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

            </aside>

        </div>
        {% endif %}

    </div><!-- /page_inner -->
</div><!-- /container -->
{% endblock %}
