{% load i18n %}

<nav class="navbar navbar-static-top nav-checkout navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
    {% spaceless %}
        <li class="nav-item step3 {% if step == 3 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step > 3 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
            {% if step == 4 %}
                <a href="{% url 'checkout:payment-details' %}" class="nav-link">
                    <i class="fas fa-chevron-right"></i>
                    <span>
                        {% trans "Payment" %}
                    </span>
                </a>
            {% else %}
                <span class="navbar-text">
                    {%  trans "Payment" %}
                </span>
            {% endif %}
        </li>

        <li class="nav-item step4 {% if step == 4 %}active{% else %}disabled{% endif %} ">
            <span class="navbar-text">
                {% trans "Preview" %}
            </span>
        </li>

        <li class="nav-item step5 {% if step == 5 %}active{% else %}disabled{% endif %} ">
            <span class="navbar-text">
                {% trans "Confirmation" %}
            </span>
        </li>
    {% endspaceless %}
  </ul><!-- /navbar-inner -->
</nav><!-- /navbar -->
