{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}
{% load currency_filters %}  {# Don't forget to load the currency_filters if you want to display prices %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
<head xmlns="http://www.w3.org/1999/html">
   <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/checkout/payment_details_style.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>

<body>
            <h2 id="product_title">Booking for  {{ request.basket.all_lines.0.product.parent.title }}</h2>
            {# Here we iterate over the lines in the basket #}
            {% for line in request.basket.all_lines %}
                <p id="product_name">Product Name: {{ line.product.title }}</p>
                <p>Room Price: {{ line.line_price_incl_tax|currency }}</p>
            {% endfor %}


            <form action="{% url 'handle_payment' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="offer_id" value="{{ offer_id }}">
                <p>Title:
                    <select name="title" required>
                        <option value="">Select...</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                    </select>
                </p>
                <p>First Name: <input type="text" name="first_name" required></p>
                <p>Last Name: <input type="text" name="last_name" required></p>
                <p>Enter your phone number:</p>
                <input id="phone" type="tel" name="phone">
                </br>
                </br>

                <p>Email: <input type="email" name="email" required></p>
                <p>Payment Method:
                    <select name="method" required>
                        <option value="">Select...</option>
                        <option value="CreditCard">Credit Card</option>
                    </select>
                </p>
                <p>Card Vendor Code:
                    <select name="vendor_code" required>
                        <option value="">Select...</option>
                        <option value="VI"> Visa</option>
                        <option value="MC">MASTER CARD</option>
                        <option value="AX">AMERICAN EXPRESS</option>
                    </select>
                </p>
                <p>Card Number: <input type="text" minlength="15" maxlength="16" class="card-number" name="card_number" placeholder="Card Number" required></p>
                <p>Card Expiry Date: <input type="month" id="expiry_date" name="expiry_date" required></p>
                <input type="submit" id="view_preview" class="btn btn-primary btn-lg" value="{% trans 'Continue' %}">
                <p class="error-msg" style="color:red;"></p>

            </form>
            <div class="alert alert-info" style="display: none;"></div>

        </body>
<script src="/static/js/checkout/payment_details.js"></script>
<script src="/static/js/checkout/phone_valid_payment_details.js"></script>

{% endblock payment_details %}
