<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booking Confirmation</title>
</head>
    <body>
        <h1>Purchase Complete</h1>
        <h2>Booking Confirmation</h2>
        {% if booking_data and booking_data.data and booking_data.data.0 %}
        <p>Booking ID: {{ booking_data.data.0.id }}</p>
        <p>Provider Confirmation ID: {{ booking_data.data.0.providerConfirmationId }}</p>
        {% if booking_data.data.0.associatedRecords and booking_data.data.0.associatedRecords.0 %}
        <p>Reference ID: {{ booking_data.data.0.associatedRecords.0.reference }}</p>
        <p>Origin System Code: {{ booking_data.data.0.associatedRecords.0.originSystemCode }}</p>
        {% endif %}
        {% else %}
        <p>Booking data not available.</p>
        {% endif %}
    </body>
</html>
