{% extends "oscar/customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
<head xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="/static/css/costumer/alerts/alerts_list.css" type="text/css">
</head>
<body>
    <section class="search-filter" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form id="hotelForm" action="{% url 'hotel_view' %}"  class="check-form login-box" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <h4>Check Availability</h4>
                        <div id="search-container" class="location">
                                <label for="location">location</label>
                                <input id="location" type="text" name="location" placeholder="Search location..." required>
                                <ul id="results"></ul>
                        </div>
                        <div class="datepicker">
                            <p>From</p>
                            <label for="checkInDate">Check-In Date:</label><br>
                            <input type="date" id="checkInDate" name="checkInDate" required><br>

                        </div>
                        <div class="datepicker">
                            <p>To</p>
                            <label for="checkOutDate">Check-Out Date:</label><br>
                            <input type="date" id="checkOutDate" name="checkOutDate" required><br>
                        </div>
                        <div class="room-quantity">
                            <div class="single-quantity">
                                <p for="adults">Adults</p>
                                <div class="pro-qty"><input type="text" id="adults" name="adults" value="1" required></div>
                            </div>
                            <div class="single-quantity last">
                                <p for="roomQuantity">Rooms</p>
                                <div class="pro-qty"><input id="roomQuantity" name="roomQuantity" type="text" value="1" required></div>
                            </div>
                            <div class="single-quantity last">
                                <p for="price">Price</p>
                                <div class="pro-qty"><input id="price" name="price" type="text" value="0" required></div>
                            </div>

                        </div>
                        <button id="submit" type="submit">submit</button>
                        <a href="{% url 'price_alerts' %}" class="btn btn-primary">Open Product list</a>
                    </form>
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </section>
    <br>
    <br>
    <!-- Search Filter Section End -->
</body>
        {% block scripts %}
            {% block jquery %}
                <!-- Load JQuery here -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            {% endblock jquery %}

            {% block customscripts %}
                <script src="/static/js/costumer/alerts/alert_list.js"></script>
    <script>
        /**
 * Surely there's some improvements to make, comments/help always appreciated :3
 */

function init() {
  // Generate li foreach fieldset
  for (var i = 0; i < count; i++) {
    var ul = document.querySelector('ul.items'),
        li = document.createElement("li");

    ul.appendChild(li);
  }
  // Add class active on first li
  ul.firstChild.classList.add('active');
}

function next(target) {
  var input = target.previousElementSibling;

  // Check if input is empty
  if (input.value === '') {
    body.classList.add('error');
  } else {
    body.classList.remove('error');

    var enable = document.querySelector('form fieldset.enable'),
        nextEnable = enable.nextElementSibling;
    enable.classList.remove('enable');
    enable.classList.add('disable');
    nextEnable.classList.add('enable');

    // Switch active class on left list
    var active = document.querySelector('ul.items li.active'),
        nextActive = active.nextElementSibling;
    active.classList.remove('active');
    nextActive.classList.add('active');
  }
}

function keyDown(event) {
  var key = event.keyCode,
      target = document.querySelector('fieldset.enable .button');
  if (key == 13 || key == 9) next(target);
}

var body = document.querySelector('body'),
    form = document.querySelector('form'),
    count = form.querySelectorAll('fieldset').length;

window.onload = init;
document.body.onmouseup = function (event) {
    var target = event.target || event.toElement;
    if (target.classList.contains("button")) next(target);
};
document.addEventListener("keydown", keyDown, false);


    </script>

            {% endblock customscripts %}
        {% endblock scripts %}

{% endblock tabcontent %}
