{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% block product %}


<head>

        <link rel="stylesheet" href="/static/css/catalogue/catalogue_browse_filter_style_2.css" type="text/css">
</head>
    <article class="product_pod" data-price="{% if product.is_parent %}
    {{ product.children.all.0.stockrecords.first.price }}
{% endif %}" data-rating="{{ product.rating }}" product-description="{{ product.description }}">
        {% block product_image %}
        <div class="card-wrapper main-card">
            <a href="{{ product.get_absolute_url }}" class="card cardItemjs">
            <div class="card-image-wrapper">
                {% with image=product.primary_image %}
                        <img src="{{ image.original.url }}" alt="{{ product.get_title }}">
                {% endwith %}
            </div>
            </a>

        <div class="card-info">



        {% endblock %}
        <div>
        {% block product_review %}
            {% iffeature "reviews" %}
                <p class="star-rating {{ product.rating|as_stars }}">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </p>
            {% endiffeature %}
        {% endblock %}

        {% block product_title %}
            <h3 class="mt-3">
                <a id="product_title" href="{{ product.get_absolute_url }}" title="{{ product.get_title }}" data-title="{{ product.get_title }}">
                    {{ product.get_title|truncatewords:4 }}
                </a>
            </h3>
        {% endblock %}
            </div>
        {% block product_price %}
            <div class="product_price">
                {% include "oscar/catalogue/partials/stock_record.html" %}
                {% if not product.is_parent and not product.has_options %}
                    {% include "oscar/catalogue/partials/add_to_basket_form_compact.html" %}
                {% endif %}
            </div>
        {% endblock %}
        </div>
        </div>

        <script src="/static/js/catalogue/product.js"></script>
    </article>
{% endblock %}
<script>
    cardItems.forEach((cardItem) => {
    cardItem.addEventListener('click', function () {
        const cardHeader = cardItem.querySelector('.cardText-js');
        const cardPrice = cardItem.querySelector('.card-price');
        const productUrl = cardItem.getAttribute('data-product-url'); // Assuming you set a data attribute on the card with the product's URL

        modalHeader.innerText = cardHeader.innerText;
        modalCardPrice.innerText = cardPrice.innerText;
        document.getElementById("bookNowBtn").href = productUrl; // Set the href of the "Book Now" button
    });
});
</script>
<script>
    const cardItems = document.querySelectorAll('.product-card');
const modalHeader = document.querySelector('.modalHeader-js');
const modalCardPrice = document.querySelector('.amount');
const bookNowBtn = document.getElementById("bookNowBtn");

cardItems.forEach((cardItem) => {
    cardItem.addEventListener('click', function () {
        const cardHeader = cardItem.querySelector('.cardText-js');
        const cardPrice = cardItem.querySelector('.card-price');
        const productUrl = cardItem.getAttribute('data-product-url');

        modalHeader.innerText = cardHeader.innerText;
        modalCardPrice.innerText = cardPrice.innerText;
        bookNowBtn.href = productUrl;
    });
});

</script>