{% extends "oscar/layout_2_col.html" %}

{% load basket_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ summary }}</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}
    <head>
        <link rel="stylesheet" href="/static/css/catalogue/catalogue_browse_filter_style.css" type="text/css">
    </head>

    {% if products %}
        <div class="col-sm-8" style="min-width: 600px">
            <div id="product-list">
                <ol class="row list-unstyled ml-0 pl-0" style="font-family: monospace;">
                    {% for product in products %}
                        <li class="col-sm-6 col-md-4 col-lg-3">{% render_product product %}</li>
                    {% endfor %}
                </ol>
                {% include "oscar/partials/pagination.html" %}
            </div>
        </div>
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

    {% for category in child_categories %}
        <h2>{{ category.name }}</h2>
        {% for product in category.products.all|dictsort:"stockrecord.price_excl_tax" %}
            <div>
                <h3>{{ product.title }}</h3>
                <p>Price: {{ product.stockrecord.price_excl_tax }}</p>
            </div>
        {% endfor %}
    {% endfor %}
<div class="col-sm-4">
                {% csrf_token %}
              <!-- Filter options -->
              <div class="container mt-4">
                <h2>Filters</h2>

                <!-- Star rating -->
                <div class="mb-4">
                  <h4>Star Rating</h4>
                <div class="form-check">
                    <input class="form-check-input rating-checkbox" type="checkbox" id="2stars" value="2.0">
                        <label class="form-check-label" for="2stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input rating-checkbox" type="checkbox" id="3stars" value="3.0">
                    <label class="form-check-label" for="3stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input rating-checkbox" type="checkbox" id="4stars" value="4.0">
                    <label class="form-check-label" for="4stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input rating-checkbox" type="checkbox" id="5stars" value="5.0">
                    <label class="form-check-label" for="5stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                    </label>
                </div>

                </div>

                <!-- Amenities -->
                <div class="mb-4 amenities sticky">
                  <h4>Amenities</h4>

                  <!-- Repeat for other amenities -->
                </div>

                <!-- Distance -->
                <div class="mb-4">
                  <h4>Distance</h4>
                  <div class="form-check">
                    <input class="form-check-input distance-checkbox" type="checkbox" id="5km" value="5.0">
                    <label class="form-check-label distance-checkbox" for="5km">Less than 5 km</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input distance-checkbox" type="checkbox" id="3km" value="3.0">
                    <label class="form-check-label distance-checkbox" for="3km">Less than 3 km</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input distance-checkbox" type="checkbox" id="1km" value="1.0">
                    <label class="form-check-label distance-checkbox" for="1km">Less than 1 km</label>
                  </div>
                                    </div>
                    <button type="button" class="btn btn-primary" onclick="event.preventDefault(); resetFilters()">Reset</button>
                    <button type="button" class="btn btn-primary" onclick="event.preventDefault(); filters()">Apply</button>
              </div>
                </div>
                  <!-- Repeat for other board types -->
    <form method="get">
        {# Render other search params as hidden inputs #}
        {% for value in selected_facets %}
            <input type="hidden" name="selected_facets" value="{{ value }}" />
        {% endfor %}
        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% plural %}
                    <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    <strong>{{ num_results }}</strong> result.
                {% plural %}
                    <strong>{{ num_results }}</strong> results.
                {% endblocktrans %}
            {% endif %}
            {% if form %}
                <div class="float-right">
                    {% include "oscar/partials/form_field.html" with field=form.sort_by style='horizontal' %}
                </div>
            {% endif %}
        {% else %}
            <p>
                {% trans "<strong>0</strong> results." %}
            </p>
        {% endif %}
    </form>

<script src="/static/js/catalogue/browse.js"></script>
<script src="/static/js/catalogue/filter_check.js"></script>


{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}